PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/takaloop
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:3000

# M-Pesa Daraja
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_SHORTCODE=174379
MPESA_PASSKEY=your_passkey
MPESA_CALLBACK_URL=https://yourdomain.com/api/transactions/mpesa-callback
MPESA_ENV=sandbox

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Africa's Talking
AT_API_KEY=your_africastalking_key
AT_USERNAME=sandbox
AT_SENDER_ID=TakaLoop

# Anthropic Claude API
ANTHROPIC_API_KEY=your_anthropic_key

# Admin
ADMIN_EMAIL=admin@takaloop.ke
ADMIN_PASSWORD=Admin@2024!
